name: Renovate

on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:

jobs:
  renovate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install pipeline-migration-tool on runner
        run: |
          pip3 install pipx
          pipx install git+https://github.com/konflux-ci/pipeline-migration-tool.git@v0.5.1
          which pipeline-migration-tool
          cp /opt/pipx_bin/pipeline-migration-tool /usr/local/bin/
          chmod +x /usr/local/bin/pipeline-migration-tool

      - name: Self-hosted Renovate
        uses: renovatebot/github-action@v40.3.2
        with:
          configurationFile: renovate.json
          token: ${{ secrets.GITHUB_TOKEN }}
          renovate-args: >
            --allowed-commands="^/usr/local/bin/pipeline-migration-tool migrate -f .*"
        env:
          RENOVATE_BINARY_SOURCE: docker
          RENOVATE_DOCKER_IMAGE: quay.io/konflux-ci/mintmaker-renovate-image:latest
          RENOVATE_REPOSITORIES: ${{ github.repository }}
          RENOVATE_ENV_VARS: '{"PATH":"/usr/local/bin:/usr/bin:/bin:/home/runner/.local/bin"}'
          LOG_LEVEL: debug
