name: Renovate

on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:

jobs:
  renovate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      
      - name: Install pipeline-migration-tool on runner
        run: |
          pip3 install pipx
          pipx install git+https://github.com/konflux-ci/pipeline-migration-tool.git@v0.5.1
          echo "$HOME/.local/bin" >> $GITHUB_PATH

      - name: Self-hosted Renovate
        uses: renovatebot/github-action@v40.3.2
        with:
          configurationFile: renovate.json
          token: ${{ secrets.GITHUB_TOKEN }}
        env:
          RENOVATE_BINARY_SOURCE: docker
          RENOVATE_DOCKER_IMAGE: quay.io/konflux-ci/mintmaker-renovate-image:latest
          RENOVATE_REPOSITORIES: ${{ github.repository }}
          RENOVATE_PLATFORM: github
          RENOVATE_ENDPOINT: https://api.github.com
          RENOVATE_USERNAME: renovate-bot
          RENOVATE_GIT_AUTHOR: 'Renovate Bot <bot@renovateapp.com>'
          
          # Now use the local path on the runner
          RENOVATE_ALLOWED_POST_UPGRADE_COMMANDS: '["/home/renovate/.local/bin/pipeline-migration-tool migrate -f .*"]'
          
          LOG_LEVEL: debug
